{% load static %}
{% load static i18n %}
<section class="page-section cta">   
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="mb-0">{% trans "Tarot" %}</span>
          </h2>
          <p class="mb-0"><img href = "clairvoyance"
            src={% static 'img/voyante_carre.jpg' %}
            href="clairvoyance"
            alt="boule de magie"
            height="170px" 
            width="170px" 
        /></p>
        </div>
      </div>
      <div class="col">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">{% trans "Atenção" %}</span>
          </h2>
          <p class="mb-0">{% trans "Este site nunca substituirá uma consulta presencial. Para uma análise personalizada, clique em "Marcar consulta" para marcar uma consulta comigo." %}</p>
        </div>
      </div>
      <div class="col">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="mb-0">{% trans "Oráculo" %}</span>
          </h2>
          <p class="mb-0"><a href="ball8" target="oracle"><img
            src={% static 'img/boule-magie-voyance.jpg' %}
            alt="boule de magie"
            height="170px" 
            width="170px" 
        />.</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
