{% load static %}
{% load static i18n %}

<section>
    <div class="section-heading text-center rounded mb-4">
        <h1 class="mb-0 cta">{% trans "Oráculo" %}</h1>
    </div>
    <p style = "background:transparent;
    text-shadow: 0 4px 4px rgba(208, 243, 8, 0.308);
    z-index: 10;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
    font-size: 20px;">{{user_question}}</p>   
    <div class="container">
        <div class="row">
            <div class="col section-heading text-center rounded mb-4">
                <div class="container">           
                    <div style="z-index:1">
                        <img
                        src={% static 'img/boule-magie-voyance.png' %}
                        alt="boule de magie"
                        height="580px" 
                        width="580px" >
                    </div>
                    <p style = "background:transparent;
                        text-shadow: 1px 4px 4px rgb(0, 0, 0, 0.98);
                        z-index: 10;
                        position: absolute;
                        text-align: center;
                        margin: 0 auto;
                        left: 0;
                        right: 0;
                        top: 40%;
                        color: black;
                        font-style: inherit;
                        width: 28%;
                        font-size: 25px;">{{ball8_message}}
                    </p>                    
                </div>   
                <p class="mb-0">
                    <form>
                        {% csrf_token %}
                        <input type="text" class="message-send" name ="question" placeholder="{% trans 'Ponha aqui sua pergunta...'%}" style="font-size: 20px;padding-left: 20px;width: 500px;border-radius: 20px 20px 20px 20px;"></input>
                        <button type="submit" name="bouton_submit" value="bouton_submit" style="font-size: 30px; border-radius: 15px 15px 15px 15px;">{% trans 'Enviar'%}</button>
                    </form>
                </p>
            </div>
        </div>
        <div class="row">
            
                
            </div>
        </div>
    </div>
</section>