{% load static %}
<body class="fixed-body">
  <section class="page-section cta">   
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Tirage</span>
            </h2>
            <p class="mb-0">Ce site ne remplacera jamais une consultation, présentiel. Pour une analyse personnalisée, cliquez sur « Consultations live » afin de prendre rdv avec moi.</p>
          </div>
        </div>
        <div class="col">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Attention</span>
            </h2>
            <p class="mb-0">Ce site ne remplacera jamais une consultation, présentiel. Pour une analyse personnalisée, cliquez sur « Consultations live » afin de prendre rdv avec moi.</p>
          </div>
        </div>
        <div class="col">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Oracle</span>
            </h2>
            <p class="mb-0">Ce site ne remplacera jamais une consultation, présentiel. Pour une analyse personnalisée, cliquez sur « Consultations live » afin de prendre rdv avec moi.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>