{% load static %}
<section class="page-section cta">   
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="mb-0">Tirage</span>
          </h2>
          <p class="mb-0"><img href = "tirage.html"
            src={% static 'img/boule-magie-voyance.jpg' %}
            alt="boule de magie"
            height="150px" 
            width="150px" 
        />.</p>
        </div>
      </div>
      <div class="col">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Attention</span>
          </h2>
          <p class="mb-0">Ce site ne remplacera jamais une consultation, présentiel. Pour une analyse personnalisée, cliquez sur « Consultations live » afin de prendre rdv avec moi.</p>
        </div>
      </div>
      <div class="col">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="mb-0">Oracle</span>
          </h2>
          <p class="mb-0"><img href ="oracle.html"
            src={% static 'img/boule-magie-voyance.jpg' %}
            alt="boule de magie"
            height="150px" 
            width="150px" 
        />.</p>
        </div>
      </div>
    </div>
  </div>
</section>
